/* $Id: fusion-starter-lite-style.css 7413 2010-06-02 05:46:49Z steph $ */

/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  color: #333;
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
  color: #1BA0CC;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  color: #1BA0CC;
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  line-height: 150%;
}


/* HTML Elements
-------------------------------------------------------------- */
body {
}

/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  color: #000;
}

/* Typography for site slogan */
#slogan {
}


/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that Skinr styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Header Region
-------------------------------------------------------------- */
.header-group-wrapper {
  background-color: #34bedd;
}

.header-group-wrapper a,
.header-group-wrapper a:visited {
  color: #fff;
}

/* Main Menu
/-------------------------------------------------------------- */
.main-menu-wrapper {
  background-color: #fff;
  border-bottom: 2px solid #CCC;
  border-top: 3px solid #179BC6;
}

.main-menu-wrapper .block {
  margin-bottom: 0;
}

/* styles for Superfish main menu */
.main-menu-inner ul.menu {
  margin-bottom: 0;
}

/* Link style for top level menu items, add padding here */
.main-menu-inner ul.menu a,
.main-menu-inner ul.menu a:visited {
  color: #000;
  padding: 8px 18px;
}

.main-menu-inner ul.menu a:hover,
.main-menu-inner ul.menu a:active,
.main-menu-inner ul.menu a:focus {
  background-color: #F58A28;
  color: #fff;
}

/* These are the top level menu items, add border-right here for separators */
.main-menu-inner ul.menu li {
  border-left: 2px solid #eee;
}

/* Add border-right: 0; here to remove separator on last menu item */
.main-menu-inner ul.menu li.last {
  border-right: 2px solid #eee;
}

/* Style for container of dropdown, add background or border */
.main-menu-inner ul.menu ul {
}

/* Style for individual dropdown menu items, add border-bottom for separators */
.main-menu-inner ul.menu li li {
  background-color: #F58A28;
  border: 1px solid #BB5D06;
  border-top-width: 0;
  color: #fff;
}

.main-menu-inner ul.menu li li a,
.main-menu-inner ul.menu li li a:visited {
  color: #fff;
  padding: 10px 8px;
}

.main-menu-inner ul.menu li li.last {
  border-right-color: #BB5D06;
}

.main-menu-inner ul.menu li li li {
}

/* Style for hover of dropdown menu items (add background-color here) */
.main-menu-inner ul.menu li ul li:hover a,
.main-menu-inner ul.menu li ul li.sfHover a {
  background-color: #DB610C;
}


/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
.secondary-menu {
}

/* Set general style for menu here -- background, alignment, etc. */
.secondary-menu-inner ul.links {
}

/* Add a border-right here for a separator */
.secondary-menu-inner ul.links li {
}

/* Add border-right: 0; here to remove right separator on last menu item */
.secondary-menu-inner ul.links li.last {
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
}

.secondary-menu-inner ul.links li a:hover,
.secondary-menu-inner ul.links li a:focus,
.secondary-menu-inner ul.links li a.active {
}


/* Header - Search
-------------------------------------------------------------- */
.search-box {
}

.search-box-inner {
}

.search-box-inner form#search-theme-form {
}

.search-box-inner input#edit-search-theme-form-header {
}


/*  Main Area (content + sidebars)
-------------------------------------------------------------- */
.main {
  padding-top: 1.5em;
}


/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-second {
}


/* Content Region
-------------------------------------------------------------- */
.region-content {
}

/* Footer Region
-------------------------------------------------------------- */
.footer-wrapper {
  background-color: #ACACAC;
  border-top: 5px solid #D6D6D6;
  color: #fff;
  float: left;
  padding-top: 1.5em;
}

.footer-wrapper a,
.footer-wrapper a:visited {
  color: #fff;
}



/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
  color: #1BA0CC;
}


/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
}
.preview .node {
}

/* Typography for node titles */
h2.title {
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.node-teaser {
}

/* Author/date info */
.meta {
}

.submitted {
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
}


/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
  background-color: #EAE8E9;
  border-bottom: 2px solid #C5C5C5;
  border-top: 1px solid #C5C5C5;
  margin-bottom: 0;
  padding: 6px 0 2px 0;
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
  color: #000;
}


/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
}

ul.pager li.pager-current {
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit,
input.search_submit {
  background-color: #1BA0CC;
  border: 1px solid #0F6EA9;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  margin: 2px;
  padding: 3px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

input.search_submit {
  font-size: 80%;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
input.form-text,
.form-item input,
.form-item select,
.form-item textarea {
  background-color: #F3F3F3;
  border: 1px solid #878686;
  border-radius: 3px;
  color: #666;
  padding: 3px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
}

/* Header of tables */
thead th,
th {
}

tbody th {
}

/* Alternating row background styles */
tr.even,
tr.even td {
}

tr.odd,
tr.odd td {
}

td.active {
}

tr.drag td,
tr.drag-previous td {
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
}

.book-navigation .page-links {
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments div.odd {
}

.comments div.even {
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
}

/* Comment signatures */
.signature {
}

/* User avatars in comments */
.comment-wrapper .picture img {
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
}

div.poll div.bar div.foreground {
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
}

/* Styles for sub-headings on user profiles */
.profile dt {
}



/* Regions/blocks
/* TODO: Skinr styles
/-------------------------------------------------------------- */

.header-group .block-menu {
  padding-top: 10px;
  width: 200px;
}

.header-group .block-menu ul.menu li {
  display: inline;
  list-style: none;
  padding-left: 10px;
  text-align: right;
}

.vibe-compact-form form input.form-submit,
.vibe-compact-form input.search_submit {
  background-color: #CBCBCA;
  border: 1px solid #878686;
  border-radius: 3px;
  color: #666;
  font-weight: bold;
  margin: 2px;
  padding: 3px 5px 2px 5px;
  text-shadow: 1px 1px #eee;
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.vibe-compact-form input.search_submit {
  font-size: 80%;
}

/* Typography, background, borders, padding for form fields */
.vibe-compact-form input.form-text,
.vibe-compact-form .form-item input,
.vibe-compact-form .form-item select,
.vibe-compact-form .form-item textarea {
  background-color: #F3F3F3;
  border: 1px solid #878686;
  border-radius: 3px;
  color: #666;
  font-style: italic;
  padding: 3px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.vibe-compact-form input[type=submit] {
  margin-left: -8px;
}


.region-sidebar-first .block .inner {
  background-color: #fff;
  border: 1px solid #DB610C;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.region-sidebar-first h2 {
  background-color: #DB610C;
  border-radius: 6px;
  color: #fff;
  font-size: 90%;
  margin: 2px;
  padding: 2px 8px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.region-sidebar-first .inner .content {
  margin-top: 1.5em;
}


.region-sidebar-second h2 {
  background-color: #1BA0CC;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 150%;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 7px 15px 5px 15px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
}


